.vision * {
  outline: 1px dashed rgba(30, 144, 255, 0.5);
  /* 하위 요소는 파란 점선 */
}

.hero {
  width: 100%;
  aspect-ratio: 3 / 4;
}

/* font system */

.font .xxl {
  font-size: 1.2rem;
}

.font .xl {
  font-size: 1.2rem;
}

.font .l {
  font-size: 1.2rem;
}

.font .m {
  font-size: 1rem;
}

.font .s {
  font-size: 0.8rem;
}

.font .xs {
  font-size: 0.8rem;
}

.font .b {
  font-weight: 700;
}

.font .center {
  text-align: center;
}

/* padding */
.p-b-1rem {
  padding-bottom: 1rem;
}

.p-b-2rem {
  padding-bottom: 2rem;
}

.p-b-3rem {
  padding-bottom: 3rem;
}

.p-t-1rem {
  padding-top: 1rem;
}

.p-t-2rem {
  padding-top: 2rem;
}

.p-t-3rem {
  padding-top: 3rem;
}

.p-l-1rem {
  padding-left: 1rem;
}

.p-l-2rem {
  padding-left: 2rem;
}

.p-l-3rem {
  padding-left: 3rem;
}

.p-r-1rem {
  padding-right: 1rem;
}

.p-r-2rem {
  padding-right: 2rem;
}

.p-r-3rem {
  padding-right: 3rem;
}

/* margin */
.m-b-1rem {
  margin-bottom: 1rem;
}

.m-b-2rem {
  margin-bottom: 2rem;
}

.m-b-3rem {
  margin-bottom: 3rem;
}

.m-t-1rem {
  margin-top: 1rem;
}

.m-t-2rem {
  margin-top: 2rem;
}

.m-t-3rem {
  margin-top: 3rem;
}

.m-l-1rem {
  margin-left: 1rem;
}

.m-l-2rem {
  margin-left: 2rem;
}

.m-l-3rem {
  margin-left: 3rem;
}

.m-r-1rem {
  margin-right: 1rem;
}

.m-r-2rem {
  margin-right: 2rem;
}

.m-r-3rem {
  margin-right: 3rem;
}

@media (max-width: 800px) {
  .font .xxl {
    font-size: 1.5rem;
  }

  .font .xl {
    font-size: 1.5rem;
  }

  .font .l {
    font-size: 1.5rem;
  }

  .font .m {
    font-size: 1rem;
  }

  .font .s {
    font-size: 0.8rem;
  }

  .font .xs {
    font-size: 0.8rem;
  }

}

@media (max-width: 400px) {
  .font .xxl {
    font-size: 1.5rem;
  }

  .font .xl {
    font-size: 1.5rem;
  }

  .font .l {
    font-size: 1.5rem;
  }

  .font .m {
    font-size: 1rem;
  }

  .font .s {
    font-size: 0.8rem;
  }

  .font .xs {
    font-size: 0.8rem;
  }

}