:root {
    --dark-greygrey-8: rgba(124, 124, 124, 1);
    --blackcharcoal: rgba(34, 34, 34, 1);
    --whitewhite: rgba(255, 255, 255, 1);
    --light-greygrey-5: rgba(210, 210, 210, 1);
    --whitegrey-2: rgba(245, 245, 245, 1);
    --whitegrey-3: rgba(234, 234, 234, 1);
    --desktop-label-normal-m-font-family: "Inter", Helvetica;
    --desktop-label-normal-m-font-weight: 500;
    --desktop-label-normal-m-font-size: 14px;
    --desktop-label-normal-m-letter-spacing: -0.20000000298023224px;
    --desktop-label-normal-m-line-height: 20px;
    --desktop-label-normal-m-font-style: normal;
    --desktop-label-large-m-font-family: "Inter", Helvetica;
    --desktop-label-large-m-font-weight: 500;
    --desktop-label-large-m-font-size: 16px;
    --desktop-label-large-m-letter-spacing: -0.30000001192092896px;
    --desktop-label-large-m-line-height: 24px;
    --desktop-label-large-m-font-style: normal;
    --desktop-subheading-normal-r-font-family: "DM Mono", Helvetica;
    --desktop-subheading-normal-r-font-weight: 400;
    --desktop-subheading-normal-r-font-size: 14px;
    --desktop-subheading-normal-r-letter-spacing: 1.2999999523162842px;
    --desktop-subheading-normal-r-line-height: 20px;
    --desktop-subheading-normal-r-font-style: normal;
    --desktop-display-large-m-font-family: "Inter", Helvetica;
    --desktop-display-large-m-font-weight: 500;
    --desktop-display-large-m-font-size: 56px;
    --desktop-display-large-m-letter-spacing: -2px;
    --desktop-display-large-m-line-height: 120.00000476837158%;
    --desktop-display-large-m-font-style: normal;
    --desktop-body-normal-r-font-family: "Inter", Helvetica;
    --desktop-body-normal-r-font-weight: 400;
    --desktop-body-normal-r-font-size: 16px;
    --desktop-body-normal-r-letter-spacing: -0.30000001192092896px;
    --desktop-body-normal-r-line-height: 150%;
    --desktop-body-normal-r-font-style: normal;
    --spacing-3xs: 4px;
    --spacing-6xl: 64px;
    --spacing-xl: 20px;
    --spacing-sm: 10px;
    --spacing-2xl: 24px;
    --spacing-5xl: 48px;
    --spacing-9xl: 128px;
    --radius-full-radius: 999px;
    --radius-2xl-duplicate: 24px;
  }