/* 기본 초기화 및 폰트 적용 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  /* Inter를 먼저 써서 영문을 처리하고, 한글은 Noto Sans KR이 처리하게 합니다 */
  font-family: "Inter", "Noto Sans KR", sans-serif;
  max-width: 1440px;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  color: #000;
}

main {
  padding: 0 40px; /* 전체 페이지 좌우 여백 */
  max-width: 1440px;
  margin: 0 auto;
}

p {
  padding-bottom: 0.4rem;
}

/* 헤더 기본 스타일 */
header {
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

header .con {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* logo system*/

.header .logo {
  position: relative;
  width: 130px;
  height: 30px;
  background-image: url(/assets/system/logo/LOGO_upper_black.svg);
  background-size: 100% 100%;
}

.footer .logo {
  position: relative;
  width: 280px;
  height: 30px;
  background-image: url(/assets/system/logo/LOGO_upper_black.svg);
  background-size: 100% 100%;
}

/* flex */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.col-rev {
  flex-direction: column-reverse; /* 아래에서 위로 */
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-20 {
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 400px;
}

.row-rev {
  flex-direction: row-reverse; /* 오른쪽에서 왼쪽으로 */
}

.col-rev {
  flex-direction: column-reverse;
}

.row > div {
  flex: 1;
}

/* container padding */
.p-c-c-60 {
  padding: 60px 0;
}

.p-c-r-60 {
  padding: 0 60px;
}

/* img con - img */

.footer .img {
  width: 300px;
}

.image-container {
  width: 100%; /* 부모(col) 너비에 맞춤 */
  border-radius: 4px; /* 코너 라운딩 */
  overflow: hidden; /* 중요: 이미지가 둥근 모서리 밖으로 나가지 않게 함 */
  background-color: #eee; /* 이미지 로딩 전 보여줄 배경색 */
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 중요: 비율을 유지하면서 박스를 가득 채움 (Figma의 Fill 설정) */
  display: block;
}

@media (max-width: 800px) {
  .row {
    flex: 1 1; /* 모바일에서는 무조건 한 줄을 꽉 채우도록 */
  }
}

@media (max-width: 400px) {
  body {
    padding: 0 12px; /* 전체 페이지 좌우 여백 */
  }

  .col {
    flex: 1 1 100%; /* 모바일에서는 무조건 한 줄을 꽉 채우도록 */
  }
  .p-c-r-60 {
    padding: 0 0;
  }
}
