/* 기본 초기화 및 폰트 적용 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  /* Inter를 먼저 써서 영문을 처리하고, 한글은 Noto Sans KR이 처리하게 합니다 */
  font-family: "Inter", "Noto Sans KR", sans-serif;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  color: #333;
  -webkit-font-smoothing: antialiased; /* 글자를 더 매끄럽게 보이게 합니다 */
  padding: 0 40px; /* 전체 페이지 좌우 여백 */
}

.vision * {
  outline: 1px dashed rgba(30, 144, 255, 0.5); /* 하위 요소는 파란 점선 */
}

/* 헤더 기본 스타일 */
#header {
  background-color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo {
  position: relative;
  width: 130px;
  height: 30px;
  background-image: url(/assets/system/logo/LOGO_upper_black.svg);
  background-size: 100% 100%;
}

/* font style */
.font .superlarge {
  font-weight: 700;
  font-size: 3rem;
}

.font .nomallarge {
  font-weight: 700;
  font-size: 2rem;
}

.font .large {
  font-size: 1.2rem;
}

.font .medium {
  font-size: 1rem;
}

.font .small {
  font-size: 0.8rem;
}

.font .b {
  font-weight: 700;
}

.font .center {
  text-align: center;
}

/* flex */
.flex {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 400px;
}

.row > div {
  flex: 1;
}

/* container */
.container {
  padding: 60px 0;
}

.container-sub {
  padding: 60px 80px;
}

/* padding */
.b-p-1rem {
  padding-bottom: 1rem;
}
.b-p-2rem {
  padding-bottom: 2rem;
}
.b-p-3rem {
  padding-bottom: 3rem;
}

/* img con - img */

.footer .img {
  width: 300px;
}

.image-container {
  width: 100%; /* 부모(col) 너비에 맞춤 */
  aspect-ratio: 16 / 9; /* 피그마에서 설정한 비율 유지 (예: 16:9) */
  border-radius: 4px; /* 코너 라운딩 */
  overflow: hidden; /* 중요: 이미지가 둥근 모서리 밖으로 나가지 않게 함 */
  background-color: #eee; /* 이미지 로딩 전 보여줄 배경색 */
}

.image-container-sub {
  width: 100%; /* 부모(col) 너비에 맞춤 */
  aspect-ratio: 2 / 3; /* 피그마에서 설정한 비율 유지 (예: 16:9) */
  border-radius: 4px; /* 코너 라운딩 */
  overflow: hidden; /* 중요: 이미지가 둥근 모서리 밖으로 나가지 않게 함 */
  background-color: #eee; /* 이미지 로딩 전 보여줄 배경색 */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 중요: 비율을 유지하면서 박스를 가득 채움 (Figma의 Fill 설정) */
  display: block;
}

@media (max-width: 800px) {
  .row {
    flex: 1 1; /* 모바일에서는 무조건 한 줄을 꽉 채우도록 */
  }
}

@media (max-width: 400px) {
  .col {
    flex: 1 1 100%; /* 모바일에서는 무조건 한 줄을 꽉 채우도록 */
  }
}
